<div class="col-12 col-md-4 mb-2">
          <strong>授乳室:</strong>
            <% if @place.nursery %>
              <span class="text-success"><i class="fa-regular fa-circle me-1"></i>あり</span>
            <% else %>
              <span class="text-secondary"><i class="fa-solid fa-xmark me-1"></i>なし</span>
            <% end %>
        </div>
      
        <div class="col-12 col-md-4 mb-2">
          <strong>おむつ交換台:</strong>
            <% if @place.diaper %>
              <span class="text-success"><i class="fa-regular fa-circle me-1"></i>あり</span>
            <% else %>
              <span class="text-secondary"><i class="fa-solid fa-xmark me-1"></i>なし</span>
            <% end %>
        </div>  
          
      <div class="col-12 col-md-4 mb-2">
        <strong>幼児トイレ:</strong>
          <% if @place.kids_toilet %>
            <span class="text-success"><i class="fa-regular fa-circle me-1"></i>あり</span>
          <% else %>
            <span class="text-secondary"><i class="fa-solid fa-xmark me-1"></i>なし</span>
          <% end %>
      </div>

      <div class="col-12 col-md-4 mb-2">
        <strong>ベビーカー対応:</strong>
          <% if @place.stroller %>
            <span class="text-success"><i class="fa-regular fa-circle me-1"></i>あり</span>
          <% else %>
            <span class="text-secondary"><i class="fa-solid fa-xmark me-1"></i>なし</span>
          <% end %>
      </div>

      <div class="col-12 col-md-4 mb-2">
        <strong>木陰:</strong>
          <% if @place.shade %>
            <span class="text-success"><i class="fa-regular fa-circle me-1"></i>あり</span>
          <% else %>
            <span class="text-secondary"><i class="fa-solid fa-xmark me-1"></i>なし</span>
          <% end %>
      </div>

      <div class="col-12 col-md-4 mb-2">
        <strong>ベンチ:</strong>
          <% if @place.bench %>
            <span class="text-success"><i class="fa-regular fa-circle me-1"></i>あり</span>
          <% else %>
            <span class="text-secondary"><i class="fa-solid fa-xmark me-1"></i>なし</span>
          <% end %>
      </div>

      <div class="col-12 col-md-4 mb-2">
        <strong>遊具:</strong>
          <% if @place.playground %>
            <span class="text-success"><i class="fa-regular fa-circle me-1"></i>あり</span>
          <% else %>
            <span class="text-secondary"><i class="fa-solid fa-xmark me-1"></i>なし</span>
          <% end %>
      </div>

      <div class="col-12 col-md-4 mb-2">
        <strong>エレベーター:</strong>
          <% if @place.elevator %>
            <span class="text-success"><i class="fa-regular fa-circle me-1"></i>あり</span>
          <% else %>
            <span class="text-secondary"><i class="fa-solid fa-xmark me-1"></i>なし</span>
          <% end %>
      </div>

      <div class="col-12 col-md-4 mb-2">
        <strong>駐車場:</strong>
          <% if @place.parking %>
            <span class="text-success"><i class="fa-regular fa-circle me-1"></i>あり</span>
          <% else %>
            <span class="text-secondary"><i class="fa-solid fa-xmark me-1"></i>なし</span>
          <% end %>
      </div>        