<!-- уиежЏєсЃ╗тЅіжЎцсЃфсѓ»сѓесѓ╣сЃѕ сЃбсЃ╝сЃђсЃФ -->
<div class="modal fade" id="requestModal" tabindex="-1" role="dialog" aria-labelledby="requestModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content shadow">
      <div class="modal-header">
        <h5 class="modal-title" id="requestModalLabel">сЃфсѓ»сѓесѓ╣сЃѕсѓњжЂИТіъ</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="жќЅсЂўсѓІ">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <p>сЂЕсЂАсѓЅсЂ«сЃфсѓ»сѓесѓ╣сЃѕсѓњУАїсЂёсЂЙсЂЎсЂІ№╝Ъ</p>
        <div class="d-flex justify-content-around mt-3">
          <%= link_to new_place_place_edit_request_path(@place), class: "btn btn-primary d-flex flex-column align-items-center justify-content-center p-3", style: "width: 80px; height: 80px;" do %>
            ­Ъќі
            <span class="mt-1 ">уиежЏє</span>
          <% end %>

          <%= link_to new_place_place_delete_request_path(@place), class: "btn btn-danger d-flex flex-column align-items-center justify-content-center p-3", style: "width: 80px; height: 80px;" do %>
            ├Ќ
            <span class="mt-1 ">тЅіжЎц</span>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">жќЅсЂўсѓІ</button>
      </div>
    </div>
  </div>
</div>