<div class="text-center">
  <h1 class="mb-4">ようこそ！子育て応援マップへ</h1>
  <p class="lead">
    全国の子育て支援施設や公園を<br>
    マップ上で探せて、授乳室や遊具情報を確認できます！
  </p>

  <ul class="list-group list-group-flush my-4">
    <li class="list-group-item">🔍 設備ごとに絞り込み検索</li>
    <li class="list-group-item">📷 写真やレビューで現地の様子がわかる</li>
    <li class="list-group-item">🗺 Google Mapで施設の場所を確認</li>
  </ul>

  <%= link_to '施設・公園を探す', public_places_path, class: "btn btn-primary btn-lg" %>
</div>