@use '~bootstrap/scss/bootstrap';

.carousel-inner img {
  max-width: 100%; 
  height: auto;
  max-height: 400px;
  object-fit: contain;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black; 
  background-size: 100% 100%; 
  border-radius: 50%; 
}

.gradient-btn {
  background: linear-gradient(to right, #1709df, #2575fc);
  color: white;
  border: none;
  transition: background 0.3s ease, transform 0.3s ease;
}

.gradient-btn:hover {
  background: linear-gradient(to right, #2575fc, #1709df);
  color: white;
  transform: scale(1.05);
}

.gradient-btn:focus {
  outline: none;
}

.reject-btn {
  background: linear-gradient(to right, #cc3b3b, #815429);
  color: white;
  border: none;
  transition: background 0.3s ease, transform 0.3s ease;
}

.reject-btn:hover {
  background: linear-gradient(to right, #cc3b3b, #815429);
  transform: scale(1.05);
}

.reject-btn:focus {
  outline: none;
}

.approve-btn {
  background: linear-gradient(to right, #463ab6, #4e8bf3);
  color: white;
  border: none;
  transition: background 0.3s ease, transform 0.3s ease;
}

.approve-btn:hover {
  background: linear-gradient(to right, #4787f5, #601cfd);
  transform: scale(1.05);
}

.approve-btn:focus {
  outline: none;
}


