@use '~bootstrap/scss/bootstrap';

.carousel-inner img {
  max-width: 100%; 
  height: auto;
  max-height: 400px;
  object-fit: contain;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black; 
  background-size: 100% 100%; 
  border-radius: 50%; 
}

.gradient-btn {
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: white;
  border: none;
  transition: background 0.3s ease, transform 0.3s ease;
}

.gradient-btn:hover {
  background: linear-gradient(to right, #2575fc, #6a11cb);
  transform: scale(1.05);
}

.gradient-btn:focus {
  outline: none;
}

.submit-btn {
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: white;
  border: none;
  transition: background 0.3s ease, transform 0.3s ease;
}

.submit-btn:hover {
  background: linear-gradient(to right, #2575fc, #6a11cb);
  transform: scale(1.05);
}

.submit-btn:focus {
  outline: none;
}

.map_link-btn {
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: white;
  border: none;
  transition: background 0.3s ease, transform 0.3s ease;
}

.map_lik-btn:hover {
  background: linear-gradient(to right, #2575fc, #6a11cb);
  transform: scale(1.05);
}

.map_link-btn:focus {
  outline: none;
}

/* ボタン全体を中央に配置 */
