<h1>ユーザー一覧</h1>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>ニックネーム</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.nickname %></td>
        <td><%= user.email %></td>
        <td>
          <% if user.is_active %>
            有効
          <% else %>
            凍結中
          <% end %>
        </td>
        <td>
          <%= link_to '詳細', admin_user_path(user), class: "btn btn-sm btn-outline-info" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

